<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ '/site.css' | relative_url }}" />
		<link
			rel="stylesheet"
			href="{{ page.url | relative_url | append: 'style.css' }}"
		/>
		<script
			defer
			src="{{ page.url | relative_url | append: 'script.js' }}"
		></script>
	</head>
	<body>
		{{ content }}
		<nav id="remino-demos-nav">
			<a
				href="{{ site.github.repository_url }}/tree/main/{{ page.url | relative_url | split: '/' | shift | shift | join: '/' }}"
				target="_blank"
				>See code on GitHub</a
			>
		</nav>
	</body>
</html>
